form {
  border: 2px solid black;
  width: 500px;
  height: 400px;
  background-color: burlywood;
  margin: auto;
}

#heading_div {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  background-color: blueviolet;
  color: white;
}

label {
  margin-left: 10px;
  margin-right: 10px;

  font-weight: bold;
}

input {
  margin-left: 10px;
}

button {
  margin-left: 100px;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
