.heading {
  width: 90%;
  height: 50px;
  background-color: black;
  color: antiquewhite;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 5px;
}

.add_button {
  margin-left: 65px;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  height: 30px;
  border-color: white;
}
